<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.divStyle{
			width: 24%;
		    float: left;
		    border: 1px solid green;
		    height: 150px;
		    text-align: center;
		    color: red;
		    background: blue;
		}
		.divStyle1{
			width: 24%;
		    float: left;
		    border: 1px solid green;
		    height: 150px;
		    text-align: center;
		    color: red;
		    background: green;
		}
	</style>
</head>
<body>
	</div>
		<div class="divStyle">fffffff</div>
		<div class="divStyle">hhhhhhhhhh</div>
		<div class="divStyle">fffffff</div>
		<div class="divStyle">hhhhhhhhhh</div>
	</div>
	</div>
		<div class="divStyle1">fffffff</div>
		<div class="divStyle">hhhhhhhhhh</div>
		<div class="divStyle">fffffff</div>
		<div class="divStyle">hhhhhhhhhh</div>
	</div>
</body>
