<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.divStyle{
			width: 49%;
		    float: left;
		    border: 1px solid green;
		    height: 30px;
		    text-align: center;
		}
		.divWrapperStyle{
			width: 49%;
		    float: left;
		    height: 60px;
		}
	</style>
</head>
<body>
	<div>
		<div class="divWrapperStyle">
			<div class="divStyle">1</div>
			<div class="divStyle">2</div>
			<div class="divStyle">3</div>
			<div class="divStyle">4</div>
		</div>
		<div class="divWrapperStyle">
			<div class="divStyle">5</div>
			<div class="divStyle">6</div>
			<div class="divStyle">7</div>
			<div class="divStyle">8</div>
		</div>
	</div>
	<div class="divWrapperStyle">
		<div class="divStyle">11</div>
		<div class="divStyle">12</div>
		<div class="divStyle">13</div>
		<div class="divStyle">14</div>
	</div>
	<div class="divWrapperStyle">
		<div class="divStyle">15</div>
		<div class="divStyle">16</div>
		<div class="divStyle">17</div>
		<div class="divStyle">18</div>
	</div>

	

</body>
</html>