<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.divStyle{
			width: 49%;
		    float: left;
		    border: 1px solid green;
		    height: 150px;
		    text-align: center;
		}
	</style>
</head>
<body>
	<div>
		<div class="divStyle"></div>
		<div class="divStyle"></div>
	</div>
		<div class="divStyle"></div>
		<div class="divStyle"></div>
	</div>
	<div>
		<div class="divStyle"></div>
		<div class="divStyle"></div>
	</div>
		<div class="divStyle"></div>
		<div class="divStyle"></div>
	</div>
	<div>
		<div class="divStyle"></div>
		<div class="divStyle"></div>
	</div>
		<div class="divStyle"></div>
		<div class="divStyle"></div>
	</div>
</body>
</html>