<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.divStyle33{
			width: 33%;
		    float: left;
		    border: 1px solid green;
		    height: 50px;
		    text-align: center;
		}
		.divStyle49{
			width: 49%;
		    float: left;
		    border: 1px solid green;
		    height: 160px;
		    text-align: center;
		}
	</style>
</head>
<body>
	<div>
		<div class="divStyle33">
			<b>kyug</b>
		</div>
		<div class="divStyle33"></div>
		<div class="divStyle33"></div>
	</div>	
	<div>
		<div class="divStyle49"></div>
		<div class="divStyle49"></div>
	</div>
	<div>
		<div class="divStyle33"></div>
		<div class="divStyle33"></div>
		<div class="divStyle33"></div>
	</div>
</body>

</html>